<settings>
<category label="General">
		<setting id="DNS" type="text" label="DNS" default=""/>
		<setting id="Username" type="text" label="Username" default=""/>
		<setting id="Password" type="text" label="Password" default=""/>
		<setting id="meta" type="bool" label="VOD meta" visible="false" default="false"/>
		<setting id="hidexxx" type="bool" label="Show Adult" visible="false" default="false"/>
		<setting id="xxx_pwset" type="bool" label="Password Lock Adult Content" default="false"/>
		<setting id="xxx_pw" option="hidden" type="text" label="Adult Content Password (Default: 1234)" default="1234"/>
		<setting label="Test Credentials" type="action" action="RunPlugin(plugin://plugin.video.iptvxc/?mode=9)" option="close" />
	</category>
	<category label="Notifications">
		<setting id="expiry_notify_enabled" type="bool" label="Enable account expiry notifications on launch" default="true" />
		<setting id="expiry_notify_days" type="text" label="Notify when less than X days remain" default="7" />
		<setting id="expiry_notify_background" type="bool" label="Enable periodic background expiry checks (while addon open)" default="false" />
		<setting id="expiry_notify_interval_hours" type="number" label="Expiry check interval (hours)" default="24" />
	</category>
</settings>